@font-face {
    src: url(../assets/Knewave-Regular.ttf);
     font-family: NarutoFont;
 }

body{
    background-color: rgb(62, 62, 62);
}

.movepic{
    display: flex;
    justify-content: end;
}

.centext{
    font-family: NarutoFont;
    text-align: center;
   font-size: 60px;
   color: rgb(155, 34, 48)
}
.logo{
    border-radius: 50%;
    border-spacing: 50cap;
    border:3px  solid;
    color: rgb(8, 0, 255);
    
}